{% load humanize %}<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" href="#issues-body">
            {{issues_table_title|default_if_none:"Issues"}} ({{issues|length}})
        </a>
    </div>
    <div id="issues-body" class="panel-body panel-collapse collapse in">
        <table class="table table-striped table-hover table-bordered table-sm sortable" id="table-issues">
            <thead>
            <tr>
                <th>Bug ID</th>
                <th>Bug Status</th>
                <th>Last Updated</th>
                <th>Bug Summary</th>
                <th>Filters</th>
                <th>Status</th>
                <th>Failure Rate</th>
                {% if not public %}<th class="sorttable_nosort">Actions</th>{% endif %}
                {# Remember to change the colspan value under ;) #}
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
            <tr id="issue_{{ forloop.counter0 }}">
                <!-- Bug ID -->
                <td>
                <ul>
                {% for bug in issue.bugs_cached %}
                    <li>{% include "CIResults/basic/bug.html" %}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Bug Status -->
                <td>
                <ul>
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.status}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Bug Updated -->
                <td>
                <ul>
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.updated|timesince}} ago</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Bug Summary -->
                <td>
                <ul>
                {% for bug in issue.bugs_cached %}
                    <li>{{bug.title}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Filters -->
                <td>
                <ul>
                {% for ifa in issue.active_filters %}
                    <li>{% include "CIResults/basic/ifa.html" %}: {{ifa.failure_rate}}</li>
                {% endfor %}
                </ul>
                </td>

                <!-- Status -->
                {% if issue.archived %}
                    <td data-sorttable-customkey="{{issue.archived_on|date:'U'}}"><a href="#issue_{{ forloop.counter0 }}">Archived {{issue.archived_on|timesince}}ago</a></td>
                {% else %}
                    <td data-sorttable-customkey="{{issue.last_seen|date:'U'}}"><a href="#issue_{{ forloop.counter0 }}">{% if issue.last_seen is not None %}Last seen {{issue.last_seen|timesince}} ago{% else %}Never seen{% endif %}</a></td>
                {% endif %}

                <!-- Failure rate -->
                <td data-sorttable-customkey="{{issue.failure_rate.rate}}"> {% if not public %}<a href="{% url 'CIResults-issue-detail' issue.id %}">{{issue.failure_rate}}</a>{% else %}{{issue.failure_rate}}{% endif %}</td>

                <!-- Actions -->
                {% if not public %}<td>
                    <div class="btn-group">
                        {% if issue.description|length > 0 %}
                            <a class="btn btn-default" title="Read the description" data-inform="{{issue.description}}"><span class="glyphicon glyphicon-comment"/></a>
                        {% endif %}

                        {% if not issue.expected %}
                            <a href="{% url 'CIResults-issue' issue.id 'hide' %}" class="btn btn-default" title="Mark this issue as expected and hide it from the active list" data-confirmation="Are you sure you want to mark this issue as expected, and hide it from the active issues?" data-confirmation-reload><span class="glyphicon glyphicon glyphicon-eye-close"/></a>
                        {% else %}
                            <a href="{% url 'CIResults-issue' issue.id 'show' %}" class="btn btn-default" title="Mark this issue as unexpected and show it in the active list" data-confirmation="Are you sure you want to mark this issue as unexpected, and make it appear in the list of active issues?" data-confirmation-reload><span class="glyphicon glyphicon glyphicon-eye-open"/></a>
                        {% endif %}

                        {% if not issue.archived %}
                            <a href="{% url 'CIResults-issue' issue.id 'edit' %}" class="btn btn-default" data-toggle="tooltip" title="Edit the issue"><span class="glyphicon glyphicon-edit"/></a>
                            <a href="{% url 'CIResults-issue' issue.id 'archive' %}" class="btn btn-default" data-toggle="tooltip" title="Delete/Archive the issue" data-confirmation="<p>Are you sure you want to archive the covering the following bugs?</p><ul>{% for bug in issue.bugs_cached %}<li>{{bug}}</li>{% endfor %}</ul>" data-confirmation-reload><span class="glyphicon glyphicon-remove"/></a>
                        {% else %}
                            <a href="{% url 'CIResults-issue' issue.id 'restore' %}" class="btn btn-default" data-toggle="tooltip" title="Restore the issue" data-confirmation="<p>Are you sure you want to restore the covering the following bugs?</p><ul>{% for bug in issue.bugs_cached %}<li>{{bug}}</li>{% endfor %}</ul>" data-confirmation-reload><span class="glyphicon glyphicon-share icon-flipped"/></a>
                        {% endif %}
                    </div>
                </td>{% endif %}
            </tr>
            {% empty %}
                <tr><td colspan="8" style="text-align: center;">No issues found</td></tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="tracker_polled"><small class="text-muted">Bug state refreshed:
        {% for tracker in trackers %}
            {{tracker.name}}: {{tracker.polled|naturaltime}}{% if not forloop.last %};{% endif %}
        {% endfor %}
        </small></p>
    </div>
</div>
