{% load helpers %}<div class="panel-heading">
    <a data-toggle="collapse" href="#{{table_id}}">
        {{table_title}} ({{bugs|length}} / {{all_open_bugs|length}})
    </a>
</div>
<div id="{{table_id}}" class="panel-body panel-collapse collapse in">
    <table class="table table-condensed table-striped table-hover table-bordered table-sm sortable break-word">
        <thead>
        <tr>
            <th>Bug ID</th>
            <th>Status</th>
            <th>Summary</th>
            <th>Component</th>
            <th>Features</th>
            <th>Platforms</th>
            <th>Assignee</th>
            <th>Priority</th>
            <th>Involving (<span class="role_dev">dev</span>, <span class="role_user">user</span>)</th>
            <th>Created</th>
            <th>Last Updated by user</th>
            <th>Last Updated by dev</th>
            <th>SLA (days)</th>
            <th>SLA deadline</th>
            {% if not public %}<th>CI Issues</th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for bug in bugs %}
        <tr id="{{table_id}}_{{ forloop.counter0 }}">
            <td>
                {% include "CIResults/basic/bug.html" %}

                {% if not public %}
                    {% if bug.is_being_updated %}
                        <span class="glyphicon glyphicon-hourglass" title="This bug is currently being looked at by someone (expires in {{bug.update_pending_expires_in}})">
                    {% else %}
                        <a href="{% url 'CIResults-bug-flag-for-update' bug.id %}" class='btn btn-default' title="Flag the bug as being looked at for the next {{bug.UPDATE_PENDING_TIMEOUT}}" data-confirmation="You are about to mark this bug as being updated for the next {{bug.UPDATE_PENDING_TIMEOUT}}." data-confirmation-reload data-confirmation-msg-on-error="The bug '{{bug}}' appears to have already been locked by someone else!"><span class="glyphicon glyphicon-flag"/></a>
                    {% endif %}
                {% endif %}
            </td>
            <td>{{bug.status}}</td>
            <td>{{bug.title}}</td>
            <td>{{bug.component}}</td>
            <td>{% for feature in bug.features_list %}{{feature}}  {% empty %}No features selected{% endfor %}</ul></td>
            <td>{% for platform in bug.platforms_list %}{{platform}} {% empty %}No platforms selected{% endfor %}</td>
            <td>{% include "CIResults/basic/account.html" with account=bug.assignee %}</td>
            <td data-sorttable-customkey="{{bug.effective_priority}}">{{bug.priority}}</td>
            <td><ol>{% for actor, comments in bug.involves.items %}<li>{% include "CIResults/basic/account.html" with account=actor %} ({{comments|length}})</li>{% endfor %}</ol></td>
            <td data-sorttable-customkey="{{bug.created|date:'U'}}">{{bug.created}}</td>
            <td>{{bug.last_updated_by_user|howlongago}}</td>
            <td>{{bug.last_updated_by_developer|howlongago}}</td>
            <td>{{bug.SLA.days}}</td>
            <td data-sorttable-customkey="{{bug.SLA_remaining_time.days}}">{{bug.SLA_remaining_time}}</td>
            {% if not public %}<td><ul>
                {% for issue in bug.issue_set.all %}<li><a href="{% url 'CIResults-issue-detail' issue.id %}">Issue {{issue.id}}</a></li>
                {% empty %}N/A{% endfor %}
            </ul></td>{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="14" style="text-align: center;">No bugs found</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
