{% extends 'CIResults/base.html' %}

{% block title %}Issue{% endblock %}

{% block content %}
    <div class="main_body container-fluid">
        <div class="panel panel-default" >
            <div class="panel-heading">{{issue_title}}</div>
            <div class="panel-body ">
                <form id="issueForm" action="{{save_url}}" method="post" data-disable-on-submit="Saving...">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <label for="bugsFields">Bugs</label>
                            <table id="bugsFields" class="table table-hover table-bordered" data-row-next-id="{{field_bugs|length}}">
                                <thead>
                                <tr>
                                    <th>Bug ID</th>
                                    <th>Bug tracker</th>
                                    <th>
                                        <button type="button" id="bugs_add_row" class="btn btn-sm btn-default center-block" title="Add a new row">
                                            <span class="glyphicon glyphicon-plus"/>
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for fb in field_bugs %}
                                    <tr>
                                        <td>
                                            <div class="{% if not fb.bug_valid %}has-error has-feedback{% endif %}">
                                                <input type="text" name='bug_id_{{ forloop.counter0 }}' placeholder='Bug ID' class="form-control" value="{{fb.bug_id}}" aria-describedby="bug_id_{{ forloop.counter0 }})_status"/>
                                                {% if not fb.bug_valid %}
                                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                                    <span id="bug_id_{{ forloop.counter0 }})_status" class="sr-only">(error)</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="{% if not fb.tracker_valid %}has-error has-feedback{% endif %}">
                                                <select name='bug_tracker_{{ forloop.counter0 }}' class="form-control" aria-describedby="bug_tracker_{{ forloop.counter0 }}_status" required>
                                                    <option hidden>Select a bug tracker</option>
                                                    {% for tracker in trackers %}<option value="{{tracker.id}}" {% if tracker.id == fb.tracker_id %}selected{% endif %}>{{tracker.name}}</option>{% endfor %}
                                                </select>
                                                {% if not fb.tracker_valid %}
                                                    <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                                    <span id="bug_tracker_{{ forloop.counter0 }}_status" class="sr-only">(error)</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" data-remove-row class="btn btn-sm btn-default center-block" title="Remove this row">
                                                <span class="glyphicon glyphicon-remove"/>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <!-- Allow dynamically adding new rows -->
                            <script>
                                $(document).ready(function(){
                                    $("#bugs_add_row").click(function(){
                                        // Create a new line
                                        row = table_add_row("#bugsFields")
                                        id = row.data('id')
                                        row.html("<td><input type='text' name='bug_id_"+id+"' placeholder='Bug ID' class='form-control' /></td>\
                                        <td><select name='bug_tracker_"+id+"' class='form-control' required></select></td>\
                                        <td><button type='button' data-remove-row class='btn btn-sm btn-default center-block' title='Remove this row'>\
                                        <span class='glyphicon glyphicon-remove'/></button></td>")

                                        // Copy the trackers from the first entry
                                        select = $('select[name=bug_tracker_'+id+']')
                                        select.html($('select[name=bug_tracker_0').html())

                                        // Make sure the new row's buttons work
                                        handleRemoveRow();
                                        handleEditFilter();
                                    });
                                });
                            </script>
                        </div>

                        <div class="col-md-4">
                            <label for="filterFields">Filters</label>
                            <table id="filterFields" class="table table-hover table-bordered" data-row-next-id="{{field_filters|length}}">
                                <thead>
                                <tr>
                                    <th>Filter
                                        <div class="pull-right">
                                        <button type="button" class="btn btn-sm btn-default" id="filter_add_new" data-toggle="modal" data-target="#modalFilter"><span class="glyphicon glyphicon-plus"></span></button>
                                        <button type="button" class="btn btn-sm btn-default" id="filter_add_existing"><span class="glyphicon glyphicon-import"></span></button>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if field_filters|length > 0 %}
                                    {% for ff in field_filters %}
                                    <tr>
                                        <td class="form-inline"><select name='filter_{{ forloop.counter0 }}' class="form-control filter_row_select" required>
                                        {% for filter in filters %}<option value="{{filter.id}}" {% if filter.id == ff.id %}selected{% endif %}>{{filter.description}}</option>{% endfor %}
                                        </select>
                                        <button type="button" data-edit-filter class="btn btn-sm btn-default" title="Edit this filter">
                                            <span class="glyphicon glyphicon-edit"/>
                                        </button>
                                        <button type="button" data-remove-row class="btn btn-sm btn-default" title="Remove this row">
                                            <span class="glyphicon glyphicon-remove"/>
                                        </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td colspan="2" class="text-muted text-center">No filters used</td></tr>
                                {% endif %}
                                </tbody>
                            </table>

                            {# Crappy duplication of code, but better than adding code in the script #}
                            <select id='filters_options' class="hidden">
                                <option value="" disabled selected hidden>Select a filter</option>
                                {% for filter in filters %}<option value="{{filter.id}}">{{filter.description}}</option>{% endfor %}
                            </select>

                            <script>
                                function table_filter_add(value) {
                                    row = table_add_row("#filterFields")
                                    id = row.data('id')
                                    row.html("<td class='form-inline'><select name='filter_"+id+"' class='form-control filter_row_select'></select><button type='button' data-edit-filter class='btn btn-sm btn-default' title='Edit this filter'><span class='glyphicon glyphicon-edit'/></button><button type='button' data-remove-row class='btn btn-sm btn-default' title='Remove this row'><span class='glyphicon glyphicon-remove'/></button></td>")
                                    select = $('select[name=filter_'+id+']')
                                    select.html($('#filters_options').html());

                                    if (value != null)
                                        select.val(value)

                                    // Make sure the new row's buttons works
                                    handleRemoveRow();
                                    handleEditFilter();
                                }

                                function filter_edit_done(filter) {
                                    // Hide the modal window before adding the filter
                                    $('#modalFilter').modal('hide');

                                    // Add the filter to the filter options
                                    $('#filters_options').html($('#filters_options').html() + "<option value='" + filter.id + "'>" + filter.description + "</option>");

                                    // Patch all the current filter rows
                                    $("#filterFields select[name^=filter_]").each(function(){
                                        var sel = $(this).val()
                                        $(this).html($('#filters_options').html())
                                        $(this).val(sel)
                                    });
                                }

                                $(window).on('issue-add-filter', function (event, filter) {
                                    filter_edit_done(filter);

                                    // Add the new filter and select the id of the new filter
                                    table_filter_add(filter.id)
                                });

                                $(window).on('issue-replace-filter', function (event, params) {
                                    filter_edit_done(params.new_filter);

                                    // Find the old filter, then change the select id to the new one's
                                    $("#filterFields").find('select').each(function (){
                                        if ($(this).val() == params.old_filter_id) {
                                            $(this).val(params.new_filter.id)
                                        }
                                    });
                                });

                                $("#filter_add_existing").click(function(){
                                    table_filter_add(null);
                                });

                                $("[data-edit-filter]").click(function(click){
                                    var select=$($($(click.target).parents()[1]).find("select"))
                                    $(window).trigger('issue-edit-filter', select.val());
                                });
                            </script>
                        </div>

                        <div class="col-md-4">
                            <div class="{% if not field_email_valid %}has-error has-feedback{% endif %}">
                                <label for="filerField" class="control-label">Issue filer</label>
                                <input type="text" id="filerField" class="form-control" name="email" placeholder="Your email address" value="{{field_email}}" aria-describedby="filerFieldStatus"/>
                                {% if not field_email_valid %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="filerFieldStatus" class="sr-only">(error)</span>
                                {% endif %}
                            </div>
                            <div class="row-spacer">
                                <label for="descriptionField">Description (optional)</label>
                                <textarea class="form-control" id="descriptionField" rows="2"
                                        placeholder="Additional information about the filing"
                                        name="description">{{field_description}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5px;">
                        <div class="col-md-6">
                            <a class="btn btn-danger pull-left" href="{% url 'CIResults-index' %}">Cancel</a>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary pull-right" id="issue_save">Save</button>
                        </div>
                    </div>
                </form>
            </div>
      </div>

        <div id="modalFilter" class="modal fade">
            <div class="modal-dialog" style="width: 99%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create new filter</h4>
                    </div>
                    <div class="modal-body" name="filterData">
                        <!-- Hidden parameters to either create a new or edit a filter -->
                        <div class="hidden">
                            <input name="edit_filter" type="number">
                            <input name="edit_issue" type="number" value="{{issue_id}}">
                        </div>

                        <div class="row hidden" data-error-box="modal">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="vertical-align:middle;"></span>
                                    <span class="sr-only">Error:</span>
                                    <span data-error-box-text="modal">
                                        No errors
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="filter_desc" class="sr-only">Short description</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="description-addon">Short description</span>
                                    <input type="text" class="form-control" aria-describedby="description-addon" name="description" placeholder="Short description of what the filter does (up to 255 characters)" maxlength="255">
                                </div>
                            </div>
                        </div>

                        <div class="row row-spacer">
                            <div class="col-md-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Select the tags</div>
                                    <div class="panel-body">
                                        <select multiple="multiple" data-dual-list-box name="tags" data-refresh-stats aria-describedby="filter_tags_help">
                                            {% for tag in tags %}<option value={{tag.id}}>{{tag}}</option>{% endfor %}
                                        </select>
                                        <small id="filter_tags_help" class="text-muted">
                                            Leave empty to select all tag
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Select the machines</div>
                                    <div class="panel-body">
                                        <select multiple="multiple" data-dual-list-box name="machines" data-refresh-stats aria-describedby="filter_machines_help">
                                            {% for tag in machine_tags %}<option value='t{{tag.id}}'>Tag: {{tag}}</option>{% endfor %}
                                            {% for machine in machines %}<option value='m{{machine.id}}'>{{machine}}</option>{% endfor %}
                                        </select>
                                        <small id="filter_machines_help" class="text-muted">
                                            Leave empty to select all machines
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Select the tests</div>
                                    <div class="panel-body">
                                        <select multiple="multiple" data-dual-list-box name="tests" data-refresh-stats aria-describedby="filter_tests_help">
                                            {% for test in tests %}<option value={{test.id}}>{{test}}</option>{% endfor %}
                                        </select>
                                        <small id="filter_tests_help" class="text-muted">
                                            Leave empty to select all tests
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Select the statuses</div>
                                    <div class="panel-body">
                                        <select multiple="multiple" data-dual-list-box name="statuses" data-refresh-stats aria-describedby="filter_statuses_help">
                                            {% for status in statuses %}<option value={{status.id}}>{{status}}</option>{% endfor %}
                                        </select>
                                        <small id="filter_statuses_help" class="text-muted">
                                            Leave empty to select all statuses
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label for="filter_stdout_regex" class="sr-only">Stdout regex</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="filter_stdout_regex-addon">Stdout regex</span>
                                    <input type="text" class="form-control" aria-describedby="filter_stdout_regex-addon" name="stdout_regex" data-refresh-stats placeholder="Regular expression that needs to be matched on the test's standard output. Leave empty to ignore.">
                                </div>
                            </div>
                        </div>

                        <div class="row row-spacer">
                            <div class="col-md-12">
                                <label for="stderr_regex" class="sr-only">Stderr regex</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="stderr_regex-addon">Stderr regex</span>
                                    <input type="text" class="form-control" aria-describedby="stderr_regex-addon" name="stderr_regex" data-refresh-stats placeholder="Regular expression that needs to be matched on the test's standard error output. Leave empty to ignore.">
                                </div>
                            </div>
                        </div>

                        <div class="row row-spacer">
                            <div class="col-md-12">
                                <label for="filter_dmesg_regex" class="sr-only">Dmesg regex</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="dmesg_regex-addon">Dmesg regex</span>
                                    <input type="text" class="form-control" aria-describedby="filter_dmesg_regex-addon" name="dmesg_regex" data-refresh-stats placeholder="Regular expression that needs to be matched on the kernel logs. Leave empty to ignore.">
                                </div>
                            </div>
                        </div>

                        <div class="row row-spacer">
                            <div class="col-md-12">
                                <div class="alert alert-info hidden" role="alert">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="vertical-align:middle;"></span>
                                    <span class="sr-only">Info:</span>
                                    <span data-stats-format="Matches {failures_count}/{failures_total} unknown failures: <a title='{tags}'>{tag_count} tag(s)</a>, <a title='{machines}'>{machine_count} machine(s)</a>, <a title='{machine_tags}'>{machine_tag_count} machine tag(s)</a>, <a title='{tests}'>{tests_count} test(s)</a>, and <a title='{statuses}'>{status_count} status(es)</a> - <button type='button' data-apply-filter>Apply filter</button>" data-stats-loading="Loading statistics">
                                        No statistics yet
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" data-refresh-stats="modal">Check</button>
                        <button type="button" class="btn btn-primary" data-save="modal">Create</button>
                    </div>
                </div>

                <script>
                    var stats = null;

                    /* For django */
                    $.ajaxSetup({beforeSend: function(xhr, settings){
                        xhr.setRequestHeader('X-CSRFToken',
                                                '{{ csrf_token }}');
                    }});

                    function filterFields() {
                        fields = Array()
                        $('[name="filterData"]').find('[name]').each(function () {
                            if ($(this).attr('id') != "")
                                fields.push($(this))
                        });
                        return fields;
                    };

                    function resetFields() {
                        $('[data-error-box="modal"]').addClass('hidden');

                        fields = filterFields();
                        for (f in fields) {
                            field = fields[f]
                            if (field.is('[data-dual-list-box]'))
                                dualListBoxReset(field.attr('name'));
                            else
                                field.val("");
                        }

                        $('[data-stats-format]').parent().addClass("hidden")

                        $('[class=modal-title]').html("Create new filter")
                        $('[name="edit_filter"]').val("")
                        $('[data-save]').attr('disabled', false)
                        $('[data-save]').html("Create")
                    }

                    function filter_req() {
                        var req = {};

                        fields = filterFields();
                        for (f in fields) {
                            field = fields[f]
                            if (field.is('[data-dual-list-box]')) {
                                if (field.attr('name') != "machines") {
                                    req[field.attr('name')] = arrayToInt(dualListBoxSelected(field.attr('name')));
                                } else {
                                    machines = dualListBoxSelected(field.attr('name'));

                                    req['machines'] = [];
                                    req['machine_tags'] = [];
                                    for (idx in machines) {
                                        value = machines[idx];
                                        value_int = parseInt(value.substring(1), 10);
                                        if (value[0] == 't')
                                            req['machine_tags'].push(value_int);
                                        else if (value[0] == 'm')
                                            req['machines'].push(value_int);
                                    };
                                }
                            } else
                                req[field.attr('name')] = field.val();
                        }

                        return req;
                    }

                    function apply_filter() {
                        fields = filterFields();
                        for (f in fields) {
                            field = fields[f]
                            if (field.is('[data-dual-list-box]')) {
                                if (field.attr('name') == "machines") {
                                    /* The machines field can contain both tags and machines, fix
                                     * the values of the options so as to be able to distinguish
                                     * between both.
                                     */
                                    tags = stats.matched['machine_tags'].map(x => "t" + x[0].toString());
                                    machines = stats.matched['tagless_machines'].map(x => "m" + x[0].toString());
                                    vals = tags.concat(machines);
                                } else {
                                    vals = stats.matched[field.attr('name')].map(x => x[0].toString());
                                }
                                field.bootstrapDualListbox("setSelection", vals);
                            }
                        }
                    }

                    function show_errors(errors) {
                        // reset the previous errors
                        fields = filterFields();
                        for (f in fields) {
                            field = fields[f]
                            field.parent().removeClass("has-error has-feedback")
                            field.attr('title', "")
                            field.tooltip('destroy')
                        }

                        // set the new errors
                        for (e in errors) {
                            error = stats.errors[e];
                            field = $('[name="' + error.field + '"')

                            field.parent().addClass("has-error has-feedback")
                            field.attr('title', error.msg)
                            field.tooltip('show');
                        }
                    }

                    function is_edit_mode() {
                        edit_filter_id = $('[name="edit_filter"]').val()
                        return edit_filter_id != null && edit_filter_id != "" && !isNaN(edit_filter_id)
                    }

                    function update_stats() {
                        update_stats.req = update_stats.req || null;

                        // Do not send more than one request at a time
                        if (update_stats.req != null) {
                            update_stats.update_pending = true
                        } else {
                            update_stats.update_pending = false

                            /* Tell that we are loading the statistics */
                            $('[data-stats-format]').html($('[data-stats-format]').data("stats-loading"))
                            $('[data-stats-format]').parent().removeClass("hidden")

                            /* Make a GET request to create the filter */
                            update_stats.req = $.post("{% url 'CIResults-issuefilter' 'stats' %}",
                                                    JSON.stringify(filter_req()));

                            /* On success */
                            update_stats.req.done(function(data, textStatus, jqXHR) {
                                // Send an event with the new object we got
                                stats = JSON.parse(jqXHR.responseText);

                                msg = $('[data-stats-format]').data("stats-format")
                                msg = msg.replace("{failures_count}", stats.matched.failure_count)
                                msg = msg.replace("{failures_total}", stats.matched.failure_total)
                                msg = msg.replace("{tag_count}", stats.matched.tags.length)
                                msg = msg.replace("{tags}", stats.matched.tags.map(x => x[1]).join(',\n'))
                                msg = msg.replace("{machine_count}", stats.matched.machines.length)
                                msg = msg.replace("{machines}", stats.matched.machines.map(x => x[1]).join(',\n'))
                                msg = msg.replace("{machine_tag_count}", stats.matched.machine_tags.length)
                                msg = msg.replace("{machine_tags}", stats.matched.machine_tags.map(x => x[1]).join(',\n'))
                                msg = msg.replace("{tests_count}", stats.matched.tests.length)
                                msg = msg.replace("{tests}", stats.matched.tests.map(x => x[1]).join(',\n'))
                                msg = msg.replace("{status_count}", stats.matched.statuses.length)
                                msg = msg.replace("{statuses}", stats.matched.statuses.map(x => x[1]).join(',\n'))

                                $('[data-stats-format]').html(msg)

                                /* Show the error messages */
                                show_errors(stats.errors);

                                /* Set-up apply filter */
                                $('[data-apply-filter]').on('click', apply_filter)

                                update_stats.req = null;
                                if (update_stats.update_pending)
                                    update_stats()
                            });

                            /* On error */
                            update_stats.req.fail(function(jqXHR, textStatus, errorThrown ) {
                                update_stats.req = null;
                                if (update_stats.update_pending)
                                    update_stats()
                            });
                        }
                    }

                    /* All the actions that should update the statistics */
                    $("input[data-refresh-stats]").on("input", update_stats);
                    $("select[data-refresh-stats]").on('change', update_stats)
                    $('[data-refresh-stats="modal"]').on('click', update_stats)

                    /* Actions to do when clicking on the dismiss button */
                    $('[data-dismiss="modal"]').on('click', resetFields)

                    /* Actions to do when clicking on the save button */
                    $('[data-save="modal"]').click(function() {
                        f_req = filter_req();

                        $('[data-save]').attr('disabled', true)

                        if (is_edit_mode())
                            $('[data-save]').html("Editing...")
                        else
                            $('[data-save]').html("Creating...")

                        /* Make a POST request to create the filter */
                        req = $.post("{% url 'api:issuefilter-list' %}",
                                        JSON.stringify(f_req));


                        /* On success */
                        req.done(function(data, textStatus, jqXHR) {
                            // Send an event with the new object we got
                            var filter = JSON.parse(jqXHR.responseText);

                            if (f_req.edit_filter.length > 0) {
                                params = {
                                    "old_filter_id": parseInt(f_req.edit_filter),
                                    "new_filter": filter
                                };
                                $(window).trigger('issue-replace-filter', params);
                            } else {
                                $(window).trigger('issue-add-filter', filter);
                            }

                            resetFields();
                        });

                        /* On error */
                        req.fail(function(jqXHR, textStatus, errorThrown ) {
                            /* Set the error message, based on the errors
                                * reported by the POST call
                                */
                            var errors =  JSON.parse(jqXHR.responseText);
                            $('[data-error-box-text="modal"]').html(errors.join("; "))

                            // Show the error message now
                            $('[data-error-box="modal"]').removeClass('hidden')

                            // re-enable the save button
                            $('[data-save]').attr('disabled', false)
                            if (is_edit_mode())
                                $('[data-save]').html("Edit")
                            else
                                $('[data-save]').html("Create")
                        });

                        return false;
                    });

                    /* Set up the modal window when asked to edit a filter */
                    $(window).on('issue-edit-filter', function (event, filter_id) {
                        /* Fetch the wanted filter */
                        req = $.get("{% url 'api:issuefilter-list' %}" + filter_id);

                        /* On success */
                        req.done(function(data, textStatus, jqXHR) {
                            /* Decode the filter */
                            var filter = JSON.parse(jqXHR.responseText);

                            /* Set all the values */
                            fields = filterFields();
                            for (f in fields) {
                                field = fields[f]
                                if (field.is('[data-dual-list-box]')) {
                                    if (field.attr('name') == "machines") {
                                        /* The machines field can contain both tags and machines, fix
                                        * the values of the options so as to be able to distinguish
                                        * between both.
                                        */
                                        tags = filter['machine_tags'].map(x => "t" + x.id.toString());
                                        machines = filter['machines'].map(x => "m" + x.id.toString());
                                        vals = tags.concat(machines);
                                     } else {
                                        vals = filter[field.attr('name')].map(x => x.id.toString())
                                    }
                                    field.bootstrapDualListbox("setSelection", vals);
                                } else {
                                    field.val(filter[field.attr('name')]);
                                }
                            }

                            /* Show the modal */
                            $('[class=modal-title]').html("Edit filter")
                            $('[name="edit_filter"]').val(filter.id)
                            $('[data-save]').html("Edit")
                            $('#modalFilter').modal('show');
                        });

                        /* On error */
                        req.fail(function(jqXHR, textStatus, errorThrown ) {
                            msg = "<p>Error while retrieving the filter ID "+ filter_id +":</p>"
                            msg += "<p>" + jqXHR.responseText + "</p>"
                            eModal.alert(msg, "Error");
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
