{% extends 'CIResults/knownfailure_list.html' %}
{% load helpers %}

{% block title %}RunConfig {{runconfig}} history{% endblock %}

{% block information %}
<div class="panel panel-default panel-info" >
    <div class="panel-heading">Details about the runconfig {{runconfig}}</div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-bordered table-sm sortable">
            <thead>
                <tr><th>Key</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Added on</td><td>{{runconfig.added_on}}</td></tr>
                <tr><td>External URL</td><td><a href="{{runconfig.url}}">{{runconfig.url}}</a></td></tr>
                <tr><td>Tags</td><td>{{runconfig.tags.all|csl:"tag:CIResults/basic/tag.html"}}</td></tr>
                <tr><td>Builds</td><td>{{runconfig.builds.all|csl:"build:CIResults/basic/build.html"}}</td></tr>
                <tr><td>Environment</td><td>{{runconfig.environment|linebreaks}}</td></tr>
            </tbody>
        </table>
    </div>
</div>

<h2>Associated failures</h2>
{% endblock %}
